In [1]:
import pandas as pd
import numpy as np

In [2]:
import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
 #   for filename in filenames:
  #      print(os.path.join(dirname, filename))

In [3]:
#df_test = pd.read_csv('/kaggle/input/titanic/test.csv')
#df = pd.read_csv('/kaggle/input/titanic/train.csv')

In [4]:
df_test = pd.read_csv('test.csv')
df = pd.read_csv('train.csv')

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [7]:
df.info(), df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

(None, None)

In [8]:
#filling NaNs for the variable 'Age' using the mean
df['Age'].fillna(int(np.mean(df['Age'])), inplace=True)
df_test['Age'].fillna(int(np.mean(df_test['Age'])), inplace=True)

In [9]:
#creating dummy variables 
dummy_variables = ['Pclass',  'SibSp', 'Parch', 'Sex']

X= pd.get_dummies(df[dummy_variables])
y=df['Survived']

df_test_x= pd.get_dummies(df_test[dummy_variables])

**Importing the necessary libraries from sklearn**

In [13]:
from sklearn.tree import DecisionTreeClassifier

from sklearn import metrics 
from sklearn.model_selection import train_test_split

In [14]:
accuracy_training =[]
accuracy_testing = []

test_size = []
train_size =[]

criterion_list=[]
criterion_options = ['gini','entropy']
#possible options: {"gini", "entropy"} , default='gini'
#The function to measure the quality of a split. 

max_depth_list=[]
max_depth_options = [i for i in range(1,len(X.columns))]
#possible options: int, default None
#The maximum depth of the tree. If None, then nodes are expanded until all leaves are pure or until all leaves contain less than min_samples_split samples.

min_samples_split_list= []
min_samples_split_options = [i for i in range(2,10,2)]
#possible options: int or float, default=2
# The minimum number of samples required to split an internal node:
 
min_samples_leaf_list = []
#possible options: int or float, default=2
min_samples_leaf_options = [i for i in range(2,10,2)]
#  The minimum number of samples required to be at a leaf node.

max_features_list =[]
#int, float or {"auto", "sqrt", "log2"}, default=None
# The number of features to consider when looking for the best split:



# iterating over a list of criterion values    
for criterion_val in criterion_options:
    ## iterating over a list of max_depth values    
    for max_depth_val in max_depth_options:
        ## iterating over a list of min_sample_split values    
        for min_samples_split_val in min_samples_split_options:
            ## iterating over a list of min_sample_leaf values    
            for min_samples_leaf_val in min_samples_leaf_options:
                ## iterating over a list of testing values
                for val in [0.20, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8]:
                    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=val, random_state=123)

                    # fitting the model with the training set
                    clf = DecisionTreeClassifier(
                        criterion=criterion_val,
                        max_depth=max_depth_val,
                        min_samples_split=min_samples_split_val,
                        min_samples_leaf=min_samples_leaf_val
                    )
                    clf.fit(X_train, y_train)

                    # scoring the training set        
                    accuracy_score_train = metrics.accuracy_score(y_train, clf.predict(X_train))

                    # scoring on the testing/validation set                                        
                    accuracy_score_test = metrics.accuracy_score(y_test, clf.predict(X_test))

                    # appending all returned values
                    accuracy_training.append(accuracy_score_train)
                    accuracy_testing.append(accuracy_score_test)
                    test_size.append(val)
                    train_size.append(1-val)
                    criterion_list.append(criterion_val)
                    max_depth_list.append(max_depth_val)                    
                    min_samples_split_list.append(min_samples_split_val)
                    min_samples_leaf_list.append(min_samples_leaf_val)

In [15]:
##creating a df with all results
d = {
     'accuracy_train':accuracy_training, 
     'accuracy_test':accuracy_testing, 
     'criterion':criterion_list,
     'max_depth':max_depth_list,
     'min_samples_split': min_samples_split_list,
    'min_samples_leaf': min_samples_leaf_list,
     'train_size':train_size, 
     'test_size':test_size
    }

df_results = pd.DataFrame(d)
df_results.head()

,accuracy_train,accuracy_test,criterion,max_depth,min_samples_split,min_samples_leaf,train_size,test_size
0,0.796348,0.748603,gini,1,2,2,0.8,0.2
1,0.784912,0.791045,gini,1,2,2,0.7,0.3
2,0.782772,0.792717,gini,1,2,2,0.6,0.4
3,0.802247,0.771300,gini,1,2,2,0.5,0.5
4,0.780899,0.790654,gini,1,2,2,0.4,0.6

In [17]:
df_results_sorted = df_results.sort_values('accuracy_test', ascending=False)
df_results_sorted

,accuracy_train,accuracy_test,criterion,max_depth,min_samples_split,min_samples_leaf,train_size,test_size
239,0.778491,0.854478,gini,3,2,6,0.7,0.3
343,0.796348,0.849162,gini,4,2,4,0.8,0.2
483,0.771067,0.849162,entropy,1,4,4,0.8,0.2
833,0.793539,0.843575,entropy,4,4,8,0.8,0.2
9,0.749064,0.843137,gini,1,2,4,0.6,0.4
...,...,...,...,...,...,...,...,...
253,0.829856,0.735075,gini,3,4,2,0.7,0.3
342,0.808989,0.732118,gini,4,2,2,0.2,0.8
357,0.818820,0.731844,gini,4,2,8,0.8,0.2
428,0.821830,0.723881,gini,4,8,4,0.7,0.3
182,0.803371,0.720670,gini,2,6,6,0.8,0.2

In [20]:
 
best_test = {'test_size': df_results_sorted['test_size'][0]}
    
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=val, random_state=123)
    

#applying the Logistic Regression model on the test dataset
best_clf = DecisionTreeClassifier(
    criterion=df_results_sorted['criterion'][0],
     max_depth=df_results_sorted['max_depth'][0],
     min_samples_split=df_results_sorted['min_samples_split'][0],
    min_samples_leaf= df_results_sorted['min_samples_leaf'][0]
)

best_clf.fit(X_train,y_train)
predictions = best_clf.predict(df_test_x)


#exporting to csv the predictions
output = pd.DataFrame({'PassengerId': df_test.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!